@font-face {
    font-family: SanCode;
    src: url(Google_Sans_Code/static/GoogleSansCode-Regular.ttf);
}

body{
    margin: 0;
    background-color: #04090F;
}
header {
    display: flex;
    align-items: center;
    justify-content:center; /* pushes children to opposite sides */
    margin: 0;
    padding: 24px 0px;
    width: 99.8%;
    height: fit-content;
    
}
h6{
    color: white;
    margin: 0;              /* removes extra top & bottom space */
    line-height: 1;         /* makes it tight around the text */
    padding: 0; 
}

.social_links{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    padding: 0px 10px;
    width: fit-content;
}
.social_links:last-child { /* RESUME DOWNLOAD */
 
    padding: 10px 16px;
    border-radius: 5%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1.5rem;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out;
    font-family: SanCode;

}
.social_links:last-child:hover {
    animation-duration: 1s;
    background-color: #07629b;
}
#Resume_Text{
    padding-left: 4px;
    font-size: 2rem;
}
.link_img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
  
}
.link_img:hover {
   box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
background-color: rgba(255, 255, 255, 0.2);
}

 




/* HERO SECTION */
#hero_section{
    text-align: center;
    color: white;
    margin: 0px;
    padding: 10px;
    font-family: Sancode;
}
#hero_section img{
    width:200px;
    border-radius: 50%;
    border: 2px solid #009afa;
}
#hero_section h1{
 background:linear-gradient(to right, #009cff, #146ea5) ;
 -webkit-background-clip: text;
 color:transparent;
 margin: 0;
 padding: 0;
 font-size: 6rem;
}
#Role_p{
    font-size:2rem;
    margin: 0;
    padding: 0;
}
#about_p{
    
    color: #009afa;
    font-size: 1.5rem;
}







/* PROJECT SECTION */
#project_section{
    background-color: #009afa;
    padding-top: 20px;
}
#parent_div{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
 
 
}
#Projects_h1{
    color: black;
    text-align: center;
    font-family: Sancode;
    font-size:4rem;
    text-decoration:underline;
}
.class_div{
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

iframe{
  width: 100%;
  aspect-ratio: 16/9;
}

.video_title{
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size:x-large;
}